<<<<<<< HEAD
body{
    background-color: linen;
}
h1{
    color: maroon;
    margin-left: 40px;
}
p{
    font-family: arial;
    font-size: 20px;
=======
body{
    background-color: linen;
}
h1{
    color: maroon;
    margin-left: 40px;
}
p{
    font-family: arial;
    font-size: 20px;
>>>>>>> 2f9f1cb9baf1f8bbbf1963abf7ecb9b775ed6111
}